@page
@model synced.Pages.LoginPageModel
@{
    ViewData["Title"] = "Login";
}
<div class="d-flex flex-column justify-content-center align-items-center w-100 vh-75">
    <h1>Login</h1>

    <form method="post" class="w-50 bg-white p-4 rounded shadow d-flex justify-content-evenly flex-column">

        <div class="form-group">
            <label for="Email">Email</label>
            <input type="text" class="form-control" id="email" name="email" required />
        </div>

        <div class="form-group mt-3">
            <label for="Password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required />
        </div>

        <div style="height: 50px;" class="d-flex">
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="text-danger mb-auto mt-auto">@Model.ErrorMessage</div>
            }
        </div>

        <div class="d-flex flex-column gap-3">
            <button type="submit" class="btn btn-primary mt-4 w-200">Login</button>
            <div class="m-auto">Or</div>
            <p class="m-auto">Don't have an account yet? <a href="/Auth/RegisterPage">SIGN UP</a></p>
        </div>
    </form>

</div>





